.fc .fc-timegrid-slot {
    height: 2.5em;
  }
  
  .fc-col-header-cell {
    height: 2.5em;
    vertical-align: middle !important;
  }
  
  .fc-button-primary:disabled,
  .fc-button-primary:disabled:hover {
    color: var(--el-button-disabled-text-color) !important;
    cursor: not-allowed !important;
    background-image: none !important;
    background-color: var(--el-button-disabled-bg-color) !important;
    border-color: var(--el-button-disabled-border-color) !important;
  }
  
  .fc-button-primary:hover {
    color: var(--el-button-hover-text-color) !important;
    border-color: var(--el-button-hover-border-color) !important;
    background-color: var(--el-button-hover-bg-color) !important;
    outline: 0 !important;
  }
  
  
  .fc-button-primary {
    background-color: unset;
    border-color: unset;
    color: unset;
  
    --el-button-text-color: var(--el-color-white);
    --el-button-bg-color: var(--el-color-primary);
    --el-button-border-color: var(--el-color-primary);
    --el-button-outline-color: var(--el-color-primary-light-5);
    --el-button-active-color: var(--el-color-primary-dark-2);
    --el-button-hover-text-color: var(--el-color-white);
    --el-button-hover-link-text-color: var(--el-color-primary-light-5);
    --el-button-hover-bg-color: var(--el-color-primary-light-3);
    --el-button-hover-border-color: var(--el-color-primary-light-3);
    --el-button-active-bg-color: var(--el-color-primary-dark-2);
    --el-button-active-border-color: var(--el-color-primary-dark-2);
    --el-button-disabled-text-color: var(--el-color-white);
    --el-button-disabled-bg-color: var(--el-color-primary-light-5);
    --el-button-disabled-border-color: var(--el-color-primary-light-5);
  }
  
  .fc-button {
    font-weight: unset !important;
    line-height: unset !important;
  
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    line-height: 1;
    height: 32px;
    white-space: nowrap;
    cursor: pointer;
    color: var(--el-button-text-color);
    text-align: center !important;
    box-sizing: border-box;
    outline: 0;
    transition: .1s;
    font-weight: var(--el-button-font-weight);
    -webkit-user-select: none !important;
    user-select: none !important;
    vertical-align: middle !important;
    -webkit-appearance: none;
    background-color: var(--el-button-bg-color) !important;
    border: var(--el-border) !important;
    border-color: var(--el-button-border-color) !important;
    padding: 8px 15px !important;
    font-size: var(--el-font-size-base) !important;
  }
  
  .fc .fc-button:focus {
    box-shadow: unset !important;
    outline: unset !important;
  }
  
  .fc-button-group {
    position: unset !important;
  
    display: inline-block !important;
    vertical-align: middle !important;
  }
  
  .fc-button-group .fc-button-primary:first-child {
    border-right-color: var(--el-button-divide-border-color) !important;
  }
  
  .fc-button-group .fc-button-primary:last-child {
    border-left-color: var(--el-button-divide-border-color) !important;
  }
  
  .fc-button-group>.fc-button:first-child {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  
  .fc-button-group>.fc-button {
    float: left !important;
    position: relative !important;
  }
  
  .fc-col-header  {
    position: relative;
  }
  
  html body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  html .el-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2019;
    width: 100%;
    box-shadow: var(--el-box-shadow-dark);
  }
  
  html .el-main {
    padding-top: calc(var(--el-main-padding) + 60px);
  }
  
  html .el-drawer {
    width: 300px !important;
    top: 60px !important;
    height: calc(100vh - 60px) !important;
  }
  
  html .el-menu {
    border-right: 0;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  html .el-dialog {
    --el-dialog-title-font-size: calc(var(--font-size-base)* 1.75);
  }
  
  html .el-dialog__header {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  html .el-dialog__body {
    padding: 15px 20px;
  }
  
  html .el-dialog__footer {
    padding: auto 20px;
  }
  
  html .el-dialog__title {
    font-weight: 700;
  }
  
  html .el-card {
    border: 0;
    border-radius: 15px;
    padding: 30px;
  }
  html .el-card.is-always-shadow {
    box-shadow: none;
  }
  html .statistic__title{
    font-size: 24px;
    margin-bottom: 7px;
  }
  html .statistic__footer {
    margin-top: 20px;
    font-size: 12px;
  }
  html .statistic__footer--up {
    background-color: #55be24;
    border-radius: 5px;
    padding: 4px 8px;
    margin-right: 6px;
    font-weight: 700;
  }
  html .statistic__footer--down {
    background-color: #f51a1a;
    border-radius: 5px;
    padding: 4px 8px;
    margin-right: 6px;
    font-weight: 700;
  }
  html .statistic__footer--equal {
    background-color: #838383;
    border-radius: 5px;
    padding: 4px 8px;
    margin-right: 6px;
    font-weight: 700;
  }
  html .el-statistic {
    --el-statistic-content-font-size: 35px;
    --el-statistic-content-font-weight: 700;
  }
  
  html .bphn-statistic2 {
    border-radius: 18px;
    cursor: pointer;
    padding: 15px;
    min-width: 100px;
    min-height: 100px;
  }
  
  html .bphn-statistic2__status {
    font-size: 16px;
    margin-bottom: 16px;
  }
  
  html .bphn-statistic2__data {
    font-size: 26px;
    font-weight: 700;
  }
  
  html .dot_icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  html .dot_icon.active {
    background-color: #529b2e;
  }
  
  html .dot_icon.inactive {
    background-color: #73767a;
  }
  
  html .bphn-statistic3 {
    border: 0;
    border-radius: 15px;
    padding: 30px;
  }
  html .bphn-statistic3__title{
    font-size: 24px;
    margin-bottom: 7px;
  }
  
  html .bphn-statistic3__chart {
    height: 470px;
  }
  
  html .image {
    width: 100%;
    display: block;
    object-fit: cover;
  }
  
  html .square {
    width: 15px;
    height: 15px;
    border-radius: 3px;
  }
  
  html .avatar {
    display: block;
    object-fit: cover;
    border-radius: 50%;
  }
  
  html .img-anime {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
  }
  
  html .box_right {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  html .box_right__form {
    width: 100%;
  }
  
  html .back-login-btn {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  html .img.img-anime {
    display: none;
  }
  
  @media (min-width: 768px) {
    html .img.img-anime {
        display: block;
    }
  }
  
  html #booking {
    border-radius: 15px;
  }
  
  html #border {
    padding: 30px;
  }
  
  html .fc-v-event  {
    background-color: transparent;
    border: 0;
  }
  
  html .fc-timegrid-event-harness-inset .fc-timegrid-event, .fc-timegrid-event.fc-event-mirror, .fc-timegrid-more-link {
    box-shadow: none;
  }
  
  html .bphn-event {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 7px;
  }
  
  html .bphn-event>.bphn-event__name {
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  html .bphn-event.border-danger {
    border: 1px solid #f51a1a;
  }
  
  html .bphn-event.border-info {
    border: 1px solid #555555;
  }
  
  html .bphn-event.border-primary {
    border: 1px solid #4f8cff;
  }
  