@using BPHN.ModelLayer.ViewModels;
@model MailResetPasswordVm
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title></title>
    <style>
        .main-layout {
            background: #f0f0f0;
        }

        .container {
            width: 70%;
            height: 100%;
            margin: 0 auto;
            background: #fff;
        }

        .title-layout,
        .footer-layout {
            background: #f0f0f0;
            padding: 20px 0px;
            text-align: center;
            font-weight: 700;
        }

        .title-layout {
            text-transform: uppercase;
        }

        .content-layout {
            padding: 8px;
        }
    </style>
</head>
<body class="main-layout">
    <div class="container">
        <div class="title-layout">Reset password</div>
        <div class="content-layout">
            <span>Dear <b>@Model.FullName</b>,</span><br>
            <span>We have received request reset password from account-<b>@Model.UserName</b>.</span><br>
            <span>You can reset password by clicking the link bellow:</span><br>
            <a href="@Model.Link" target="_blank">@Model.Link</a>
        </div>
        <div class="footer-layout">Thank you for using our service</div>
    </div>


</body>
</html>