@using BPHN.ModelLayer.ViewModels;
@model MailResetPasswordVm
<!DOCTYPE html>
<html>
<title>HTML Tutorial</title>
<body>

    <h1>Dear, @Model.FullName</h1>
    <p>Your Account - @Model.UserName - @Model.Key</p>

</body>
</html>