@using BPHN.ModelLayer.ViewModels;
@model MailSetPasswordVm
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <title></title>
    <style>
    </style>
</head>

<body style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div style="border: 1px solid #000;">
        <h1 style="text-align: center; font-weight: 700; text-transform: uppercase;">Thiết lập mật khẩu</h1>
        <div style="padding: 20px;">
            <p>Gửi anh/chị <span style="font-weight: 700;">@Model.FullName</span>,</p>
            <p>Hệ thống của chúng tôi đã ghi nhận yêu cầu thiết lập mật khẩu từ tài khoản <span style="font-weight: 700;">@Model.UserName</span></p>
            <p>Anh/chị vui lòng bấm vào nút "CLICK ME" dưới đây để thực hiện thiết lập mật khẩu.</p>
            <a type="button" target="_blank" href="@Model.Link" style="color: #fff; border-radius: 8px; display: block; padding: 8px 10px; background: #409eff; text-decoration: none; text-align: center;">CLICK ME</a>
        </div>
    </div>
</body>

</html>