.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 100%;
  display: block;
  object-fit: cover;
}

.football-field-card {
  margin-bottom: 40px;
  margin-right: 40px;
}