.pbhn-header {
    height: 100%;
    display: flex;
    align-items: center;
}

.header_left {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    cursor: pointer;
    
}

.header_left__logo {
    font-size: 45px;
    margin: 0;
    text-decoration: underline;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: end;
    width: calc(100% - 200px);
}

.header_right__fullname {
    cursor: pointer;
}

.header_right__fullname--underline {
    text-decoration: underline;
    font-weight: 600;
}

.header_right__logout {
    padding: 0px 20px;
    cursor: pointer;
}