.bphn-menu {
    height: calc(100vh - 60px - 1px);
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    border-right: 1px solid #cecece;
}

.menu-item_link {
    text-decoration: none;
}
