.icon16 {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #cecece;
}

.icon24 {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #cecece;
}

.icon36 {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #cecece;
}