html.dark {
    background-color: #262626;
    color: #f2f2f2;
}

html.dark .el-header {
    background-color: #121212;
}

html.dark .el-drawer {
    background-color: #121212;
}

html.dark .el-menu {
    background-color: #121212;
}

html.dark .el-table {
    --el-table-header-bg-color: #121212;
}

html.dark .el-table__body-wrapper tr td.el-table-fixed-column--right {
    background-color: unset;
}

html.dark .el-table thead.is-group th.el-table__cell {
    background: #121212;
}

html.dark .el-dialog__title {
    color: #f2f2f2;
}

html.dark .bphn-statistic2 {
    background-color: #555555;
}

html.dark #booking {
  background-color: #121212;
}

html.dark .el-card {
    background-color: #121212;
}

html.dark .el-statistic__content {
    color: #f2f2f2;
}