body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.el-header {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #cecece;
}

.el-main {
  padding: 25px;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

.main-layout {
  height: calc(100vh - 60px);
}

:root {
  --fc-border-color: #ebeef5;
  --fc-today-bg-color: #ecf5ff;
}

html.dark {
  --fc-border-color: #363637;
  --fc-today-bg-color: #18222c;
}

.fc .fc-timegrid-slot {
  height: 2.5em;
}

.fc-col-header-cell {
  height: 2.5em;
  vertical-align: middle !important;
}

.head {
  display: flex;
  align-items: center;
}

.head_title {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

.head_toolbar {
  margin-left: auto;
}